NEXT_PUBLIC_SANITY_PROJECT_ID=rg4sn4ug
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
CONTACT_EMAIL=Support@geldwealth.com
